/* BASE */
@import 'parts/base.css';
@import 'parts/header.css';
@import 'parts/footer.css';

/* UTILS */

@import 'utils/vars.css';


/* CMPS */

@import 'cmps/app-home.css';
@import 'cmps/about-page.css';


/* APPS/KEEP */

@import 'apps/keep/note-preview.css'


