
.app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    padding: 0 1rem;
    background-color: rgb(253, 239, 216);
    /* border-top: 1px solid var(--hovermode); */
}
