/* Header */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 10vh;
    padding: 0 1rem;
    border-bottom: 1px solid var(--hovermode);
    position: relative;
    background-color: rgb(253, 246, 236);
}

.app-header .logo {
    display: flex;
    align-items: center;
}

.app-header .logo-icon {
    height: 5vh;
}




/* nav bar */

.nav-icon{
    display: flex;
    flex-direction: row;
    
    gap: 10px;
}
.app-header .nav-icon img {
    padding: 10px;
}
.nav-icon a {
    margin-top: 15px;
    font-size: large
}

.app-header .nav-icon:hover {
    background-color: var(--hovermode);
    cursor:pointer
}


.app-header .nav-icon {
    cursor: pointer;
    border-radius: 50%;
}

/* nav-bar transform */

.nav-bar {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 10vh;
    transform: translateX(150%);
    transition: transform .3s;
} 

.nav-bar.open-nav {
    transform: translateX(0);
}

.app-header .nav-bar>* {
    padding: 5px;
}
.app-header nav img {
    width: 30px;
}