.note-container {
    min-width: 250px;
    box-shadow: 0 0 2px;
    border-radius: .5em;
    display: inline-block;
    margin: 0;
    margin-left: 50%;
    margin-bottom: 30px;
    transform: translateX(-50%);
    transition: box-shadow .3s;
}

.note-container:hover {
    box-shadow: 0 0 7px;
}

.note {
    text-align: center;
    /* border-radius: .5em; */
    padding: 1rem 0 30px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: fit-content;
    transition: border .3s, background-color .1s;
    break-inside: avoid;
}




.options {
    display: flex;
    align-items:center;
    margin: auto;
    justify-content:center;
    /* height: vh; */
    padding: 1rem;
    position: relative;
    width: 20em;
    
    
    
}

.note-icon{
    margin: auto;
    width: 1.5rem;
}
