

.note-container {
    break-inside: avoid;
    vertical-align: baseline;
    margin: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
    padding: 0;
    border: 1px solid black;
    
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}

.note-container:hover {
    box-shadow: 0 0 7px;
}



.note-container img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 3px;

}


.pinned {
    
}