.options {
    display: flex;
    align-items:center;
    margin: auto;
    justify-content:center;
    height: 10vh;
    padding: 0 2rem;
    position: relative;
    width: 20em;
    
    
    
}

.note-icon{
    margin: auto;
    width: 1.5rem;
}
